ion-icon {
    font-size: 200%;
  }
  .imagem{
    width: 80%;
    float: left;
    height:auto;
  }
  .imagem2{
    width: 100%;
    float: left;
    height:auto;
  }

  .footer2 {
    margin-top: 0;
    background-color: #49d390;
    margin-left: 0;
    margin-right: 0;
  }
  
  
  .footer {
    margin-top: 5%;
    min-width: 100%;
    background-color: #339967;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  
  div.figura p {
    text-align: center;
    font-style: normal;
    font-size: large;
    text-indent: 0;
  }
  
  
div.figura {
  margin-left:  4%;
  margin-right: 4%;
  width: 90%; 
  height: auto;
  border: thin rgb(236, 236, 236) dashed;
  img{
    margin-top: 5% !important;
    width: auto;
  }
}
  div.figura2{
    img{
      min-height: 75px;
      max-height: 150px;
      width: 100% !important;
    }
  }

   
.top1 {
  --background: #34cc67 url("../../assets/background/claro.png") no-repeat
    center center / cover !important;
}

.top2 {
  --background: #339967 url("../../assets/background/escuro.png") no-repeat
    center center / cover !important;
}
ion-icon {
  font-size: 200%;
}
.imagem {
  width: 80%;
  float: left;
  height: auto;
} 
.imagem2 {
  width: 100%;
  float: left;
  height: auto;
}
ion-searchbar {
  margin-top: 1cm;
}

.inputAjuda {
  margin-top: auto;
}

.footer2 {
  margin-top: 0;
  background-color: #49d390;
  margin-left: 0;
  margin-right: 0;
}


.footer {
  margin-top: 5%;
  min-width: 100%; 
  background-color: #339967;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
//roda´pé desktop
.rodape2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 80%;
}


div.rodape {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}
.tamanho {
  font-size: smaller;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
  }
  
  .top1{
    --background: #34cc67 url('../../assets/background/claro.png') no-repeat center center / cover !important;
  }

  .top2{
    --background: #339967 url('../../assets/background/escuro.png') no-repeat center center / cover !important;
  }
  .fundoBranco{
    background-color: rgb(255, 255, 255);
  }