<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar class="top1" >
      <ion-buttons slot="end">
        <a style="text-decoration: none;" target="_blank" href="https://www.facebook.com/prefeiturademaragojipe">
          <ion-icon color = light button  name="logo-facebook"></ion-icon>&nbsp;&nbsp;
        </a>
      </ion-buttons>
      
      <ion-buttons slot="end">
        <a style="text-decoration: none;" target="_blank"  href="https://www.instagram.com/prefeiturademaragojipe/?hl=pt-br"  >
          <ion-icon color = light name="logo-instagram"></ion-icon> &nbsp;&nbsp; 
        </a>
      </ion-buttons>
      
      <ion-buttons slot="end">
        <a style="text-decoration: none;" target="_blank"  href="">
         <ion-icon color = light  name="logo-youtube"></ion-icon>&nbsp;&nbsp;
        </a>
      </ion-buttons>
      <ion-title>
      </ion-title>
    </ion-toolbar>
    
    <ion-toolbar class="top2" >
      <ion-grid>
        <ion-row  *ngIf ="alternar ==true">
          <ion-col size = 3>
            <a style="text-decoration: none;" routerLink = "/" >
              <img class="imagem"src="../../assets/logo-prefeitura/logo2.png" alt="Prefeitura de Maragojipe">
            </a>
            </ion-col>
          <ion-col size = 3>
              <ion-searchbar  type="text"[(ngModel)]="pesquisa" (keyup.enter)="pesquisarNoticias()" class="inputAjuda" placeholder = "O que deseja procurar ?"></ion-searchbar>
          </ion-col>
          <ion-col class="centralizarTexto" size = 2>
            <ion-item button routerLink ="/educacao" color = transparent lines = none>
              <ion-label color = light>
                Educação
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-col class="centralizarTexto" size = 2>
            <ion-item button routerLink ="/corpo-tecnico" color = transparent lines = none>
              <ion-label color = light>
                Corpo técnico
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
  
        <ion-row *ngIf ="alternar ==false">
          <ion-col routerLink = "/" size = 3>
            <img class="imagem2"src="../../assets/logo-prefeitura/logo2.png" alt="Prefeitura de Maragojipe">
          </ion-col>
          <ion-col  routerLink ="/educacao" size = 3>
              <ion-label color = light class="tamanho">
                Educação
              </ion-label>
          </ion-col>
          <ion-col  routerLink ="/corpo-tecnico"  size = 3>
              <ion-label color = light class="tamanho">
                Corpo técnico
              </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <br>

  <div class="fundo">
    <div class="centralizarContent">

      <br>
      <ion-label style="font-size: x-large;">
        Responsáveis
      </ion-label>
      <br>
      <ion-grid>
        <ion-row class="bordaSecretaria" *ngFor = "let c of pessoinhas">
          <ion-col size = 2>
            <img [src]="c.imagem" [alt] = "c.titulo" [title] = "c.titulo">          
          </ion-col>
          <ion-col size = 10>
            <b>{{c.titulo}}</b><br> <!--nome-->
            {{c.introducao}}<br><br> <!--Cargo-->
            {{c.mensagem}}<br> <!-- algum texto se quiser -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    
  </div>
</ion-content>
