ion-icon {
    font-size: 200%;
  }
  .imagem{
    width: 80%;
    float: left;
    height:auto;
  }
  .imagem2{
    width: 100%;
    float: left;
    height:auto;
  }
  ion-searchbar{
    margin-top: 1cm;
  }
  
  .inputAjuda{
    margin-top: auto; 
  }
  .top1{
    --background: #34cc67 url('../../assets/background/claro.png') no-repeat center center / cover !important;
  }

  .top2{
    --background: #339967 url('../../assets/background/escuro.png') no-repeat center center / cover !important;
  }

  .opcoes{
    border: thin silver solid;
//    background-color: #339967;
    margin: auto;
  }
  .opcoes:hover { 
    box-shadow: 
    1px 1px #339967, 
    2px 2px #339967, 
    3px 3px #339967; 
transform: translateX (-3px);
 }