<ion-content>

  <ion-list id="emprimir">
  <ion-grid>
    
    <ion-row>
      <ion-col style="text-align: center;" size = 12>
        <img  height="70%" src = "../../assets/educacao/banner/cabecalho.png">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size = 5 style="border: thin silver solid;">
        <b>Escola:</b> {{escola}}
      </ion-col>
      <ion-col size = 3 style="border: thin silver solid;">
        <b>Endereço da escola:</b> {{enderecoEscola}}
      </ion-col>
      <ion-col size = 2 style="border: thin silver solid;">
        <b>Zona:</b> {{areaEscola}}
      </ion-col>
      <ion-col size = 2 style="border: thin silver solid;">
        <b>Distrito:</b> {{distrito}}
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size = 6 style="border: thin silver solid;">
        <b>Diretora:</b> {{diretora}}
      </ion-col>

      <ion-col size = 6 style="border: thin silver solid;">
        <b>Grau de instrução:</b> {{escolaridadeDiretora}}
      </ion-col>
    </ion-row>
<br>  <br>
    <ion-row >
      <ion-col style="border: thin silver solid;" ion-col size = 5>
        <b>Nome:</b> {{nomeAluno}}
      </ion-col>
    
      <ion-col size = 3 style="border: thin silver solid;">
        <b>Documento:</b> {{documento}}
      </ion-col>
      <ion-col size = 2 style="border: thin silver solid;">
        <b>Zona:</b> {{areaAluno}}
      </ion-col>
      <ion-col size = 2 style="border: thin silver solid;">
        <b>Sexo:</b> {{sexo}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size = 3 style="border: thin silver solid;">
        <b>Serie:</b> {{serie}}
      </ion-col>

      <ion-col size = 1 style="border: thin silver solid;">
        <b>Idade:</b> {{idade}}
      </ion-col>

      <ion-col size = 3 style="border: thin silver solid;">
        <b>Data de nascimento:</b> {{dataNascimento}}
      </ion-col>
      
      <ion-col size = 3 style="border: thin silver solid;">
        <b>Naturalidade:</b> {{naturalidade}}
      </ion-col>
      
      <ion-col size = 2 style="border: thin silver solid;">
        <b>Ano letivo:</b> {{anoLetivo}}
      </ion-col>    
    </ion-row>


    <ion-row>
      <ion-col size = 2 style="border: thin silver solid;">
        <b>Turno:</b> {{turno}}
      </ion-col>

      <ion-col size = 3 style="border: thin silver solid;">
        <b>Endereço:</b> {{enderecoAluno}}
      </ion-col>
      <ion-col size = 2 style="border: thin silver solid;">
        <b>ID censo:</b> {{idSenso}}
      </ion-col>
      <ion-col size = 3 style="border: thin silver solid;">
        <b>Data de matrícula:</b> {{dataMatricula}}
      </ion-col>

      <ion-col size = 2 style="border: thin silver solid;">
        <b>Raça:</b> {{raca}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size = 9 style="border: thin silver solid;">
        <b>Alergias:</b> {{alergia}}
      </ion-col>
      
      <ion-col size = 3 style="border: thin silver solid;">
        <b>Número matrícula:</b> {{numeroMatricula}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size = 6 style="border: thin silver solid;">
        <b>Escola de onde veio:</b> {{escolaAntiga}}
      </ion-col>
      <ion-col size = 2 style="border: thin silver solid;">
        <b>Religião:</b> {{religiao}}
      </ion-col>
      <ion-col size = 4 style="border: thin silver solid;">
        <b>Necessidade especial:</b> {{deficiencia}}
      </ion-col>
    </ion-row>
<br>  <br>
    <ion-row>
      <ion-col size = 6 style="border: thin silver solid;">
        <b>Mãe:</b> {{nomeResponsavel2}}
      </ion-col>
      <ion-col size = 3 style="border: thin silver solid;">
        <b>Telefone:</b> {{telefoneResponsavel2}}.
      </ion-col>
      <ion-col size = 3 style="border: thin silver solid;">
        <b>profissão:</b> {{profissaoResponsavel2}}.
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size = 6 style="border: thin silver solid;">
        <b>Pai:</b> {{nomeResponsavel1}}.
      </ion-col>
      <ion-col size = 3 style="border: thin silver solid;">
        <b>Telefone:</b> {{telefoneResponsavel1}}.
      </ion-col>
      <ion-col size = 3 style="border: thin silver solid;">
        <b>Profissão:</b> {{profissaoResponsavel1}}.
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size = 6>
          <b>Cartão do SUS: </b>{{cartaoSUS}}
      </ion-col>
      <ion-col size = 6>
          <b>Uniforme escolar: </b>{{numeroCamisa}}
      </ion-col>
      </ion-row>

    <ion-row>
      <ion-col size = 8 style="border: thin silver solid;">
        <b>Responsável:</b> {{nomeResponsavel3}}.
      </ion-col>
      <ion-col size = 4 style="border: thin silver solid;">
        <b>Telefone:</b> {{telefoneResponsavel3}}.
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size = 8 style="border: thin silver solid;">
        <b>Contato de emergencia:</b> {{contatoEmergenciaNome}}.
      </ion-col>
      <ion-col size = 4 style="border: thin silver solid;">
        <b>Telefone:</b> {{contatoEmergenciaTelefone}}.
      </ion-col>
    </ion-row>

    
    <br>
    <ion-row  *ngIf ="nomeResponsavelPegador.length >0">
      <ion-col size = 12 style="text-align: left;">
        <ion-label>Responsável por buscar  aluno: {{nomeResponsavelPegador}}</ion-label>.
      </ion-col>
    </ion-row>
<br><br><br><br>
    <ion-row>
      <ion-col size = 1></ion-col>
      <ion-col size = 4 style="text-align: center;">
        <hr style="height:2px; border:none; color:#000; background-color:#000; margin-top: 0px; margin-bottom: 0px;"/>
        Responsável pelo aluno
      </ion-col>
      <ion-col size = 2></ion-col>
      <ion-col size = 4 style="text-align: center;">
        <hr style="height:2px; border:none; color:#000; background-color:#000; margin-top: 0px; margin-bottom: 0px;"/>
        Secretário escolar/ Gestor escolar
      </ion-col>
      <ion-col size = 1></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size = 12>
      <ion-item>
        <ion-label position="stacked">Observações</ion-label>
          <ion-textarea [(ngModel)] ="observacoes" rows="6" placeholder ="Opcional" cols="20" >
          </ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-list>


<br>

  <ion-grid>
    <ion-row > 
      <ion-col size = 3></ion-col>
      <ion-col size = 3 >
        <ion-button expand="block" (click)="print('emprimir')"> Imprimir matrícula </ion-button>
      </ion-col>
      <ion-col size = 3 >
        <ion-button  expand="block" color = "danger" (click)="voltar()"> Cancelar </ion-button>
      </ion-col>
      <ion-col size = 3></ion-col>
    </ion-row>
  </ion-grid>


</ion-content>