ion-icon{
vertical-align: middle;
}
#imagem2{
    display: inline-block;
    position: relative;
    left: 50%;
    webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width:  auto;
//    height:60%;
      height: 7cm !important;
}

  img.banner{    
    display: block;
    height: 200mm;
    margin-left: auto;
    margin-right: auto;
  }
#imagem{
  position: relative;
  float: right;
  height: 70mm;
  width:  auto;
  margin-left: 3%;
  margin-bottom: 3%;
  margin-right: 15%;

//    display: inline-block;
//    left: 50%;
//  webkit-transform: translateX(-50%);
//transform: translateX(-50%);
//    height:60%;
//     height: 15cm !important;
}
.corpoMensagem{
  text-align: justify;
  font-size:medium;
  margin-left:15%;
  margin-right: 15%;
}

.imagem{
  width: 80%;
  float: left;
  height:auto;
}
  .imagem2{
    width: 100%;
    float: left;
    height:auto;
  }ion-icon {
    font-size: 20px;
  }

  .footer2 {
    margin-top: 0;
    background-color: #49d390;
    margin-left: 0;
    margin-right: 0;
  }
  
  div .figura{
    img{
      height: 200px !important;
      width: 100%;
    }
    p{
      text-align: center;
    }
  }
   
.top1 {
  --background: #34cc67 url("../../assets/background/claro.png") no-repeat
    center center / cover !important;
}

.top2 {
  --background: #339967 url("../../assets/background/escuro.png") no-repeat
    center center / cover !important;
}
ion-icon {
  font-size: 200%;
}
.imagem {
  width: 80%;
  float: left;
  height: auto;
} 
.imagem2 {
  width: 100%;
  float: left;
  height: auto;
}
ion-searchbar {
  margin-top: 1cm;
}

.inputAjuda {
  margin-top: auto;
}

.tamanho {
  font-size: smaller;
  text-align: center;
}

.footer2 {
  margin-top: 0;
  background-color: #49d390;
  margin-left: 0;
  margin-right: 0;
}


.footer {
  margin-top: 5%;
  min-width: 100%; 
  background-color: #339967;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
//roda´pé desktop
.rodape2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 80%;
}


div.rodape {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}
  .footer {
    margin-top: 5%;
    min-width: 100%;
    background-color: #339967;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  
  .top1{
    --background: #34cc67 url('../../assets/background/claro.png') no-repeat center center / cover !important;
  }

  .top2{
    --background: #339967 url('../../assets/background/escuro.png') no-repeat center center / cover !important;
  }
  .fundoMagico{
    background-color: rgb(255, 255, 255);
  }