<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar class="top2" >
      <ion-grid>
        <ion-row>
          <ion-col style="border: thin silver solid;" (click) = "inicio()" size = 3>
            <a style="text-decoration: none;" href="javascript:void(0)">
              <img class="imagem"src="../../assets/logo-prefeitura/logo2.png" alt="Prefeitura de Maragojipe">
            </a>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <br>  <br>

<div #screen id="table" >
  <ion-grid>
 
    <ion-row>
      <ion-col size = 3>
      </ion-col>
      <ion-col style="text-align: center;" size = 6>
        <img  height="70%" src = "../../assets/educacao/banner/cabecalho.png">
      </ion-col>
      <ion-col size = 3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="border: thin silver solid;" size = 6>
          <ion-label> <b>Escola em que atua:</b> {{escolaEnsino}}</ion-label>
      </ion-col>

      <ion-col style="border: thin silver solid;" size = 6>
          <ion-label><b>Diretor (a) responsável:</b> {{diretorDele}} </ion-label>
      </ion-col>
      </ion-row>

    <ion-row>
      <ion-col style="border: thin silver solid;" size = 5>
          <ion-label><b>Endereço da escola:</b> {{enderecoEscolaAtua}}</ion-label>
      </ion-col>
      <ion-col style="border: thin silver solid;" size = 2>
          <ion-label><b>Zona da escola:</b> {{zonaEscolaAtua}}</ion-label>
      </ion-col>
      <ion-col style="border: thin silver solid;" size = 5>
          <ion-label><b>Distrito:</b> {{distritoEscolaAtua}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="border: thin silver solid;" size = 6>
          <ion-label><b>Nome:</b> {{nome}}</ion-label>
      </ion-col>
      <ion-col style="border: thin silver solid;" size = 6>
          <ion-label><b>Graduação:</b> {{formacao}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="border: thin silver solid;" size = 4>
        <ion-label><b>Materia aplicada:</b> {{disciplinaAtuacao}}</ion-label>
      </ion-col>
      <ion-col style="border: thin silver solid;" size = 4>
          <ion-label><b>Especialização:</b> {{materia1}}</ion-label>
      </ion-col>
      <ion-col style="border: thin silver solid;" size = 4>
          <ion-label><b>Turno:</b> {{turnoEscolaNormal}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="border: thin silver solid;" size = 5>
        <ion-label><b>Situação:</b> {{condicao}}</ion-label>
    </ion-col>      
    <ion-col style="border: thin silver solid;" size = 4>
      <ion-label><b>Data de nascimento:</b> {{dataNascimento}}</ion-label>
    </ion-col> 
    <ion-col style="border: thin silver solid;" size = 3>
        <ion-label><b>Carga horária:</b> {{cargaHoraria}}</ion-label>
    </ion-col>
    </ion-row>
<br>
  <ion-label><b>Leciona em outra escola ?</b></ion-label>
<br><br>
    <ion-row>
      <ion-col style="border: thin silver solid;" size = 6>
          <ion-label><b>Escola:</b> {{QualEscolaHoraExtra}}</ion-label>
      </ion-col>
      <ion-col style="border: thin silver solid;" size = 2>
          <ion-label><b>Carga horária:</b> {{cargaHorariaAdcional}}</ion-label>
      </ion-col>
      <ion-col style="border: thin silver solid;" size = 4>
          <ion-label><b>Turno:</b> {{turnoEscolaExtra}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="border: thin silver solid;" size = 5>
          <ion-label><b>Diretor(a) responsável:</b> {{diretorSegundaEscola}}</ion-label>
      </ion-col>
      <ion-col style="border: thin silver solid;" size = 4>
          <ion-label><b>Matéria:</b> {{materia2}}</ion-label>
      </ion-col>
      <ion-col style="border: thin silver solid;" size = 3>
          <ion-label><b>Distrito:</b> {{distritoEscolaExtra}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="border: thin silver solid;" size = 9>
          <ion-label><b>Endereço:</b> {{enderecoEscolaHoraExtra}}</ion-label>
      </ion-col>
      <ion-col style="border: thin silver solid;" size = 3>
          <ion-label><b>Zona:</b> {{zonaEscolaExtra}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size = 12>
      <ion-item>
        <ion-label position="stacked">Observações</ion-label>
          <ion-textarea [(ngModel)] ="observacoes" rows="6" placeholder ="Opcional" cols="20" >
          </ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    </ion-grid>
  </div>
    <br><br>
    <ion-grid>
    <ion-row>
      <ion-col size = "4"></ion-col>
      <ion-col size = "2">
        <ion-button expand="full" (click)="downloadImage()" color = "tertiary" >Imprimir</ion-button>
      </ion-col>
      <ion-col size = "2">
        <ion-button expand="full" (click)="voltar()" color = "danger" >Cancelar</ion-button>
      </ion-col>
      <ion-col size = "4"></ion-col>
    </ion-row>
  </ion-grid>

  
  <div style="width: 1px;height: 1px;" id="download">
    <img #canvas>
    <a #downloadLink></a>
  </div>
</ion-content>
