<ion-content [fullscreen]="true">

    <ion-header [translucent]="true">
        <ion-toolbar class="top1">
            <ion-buttons slot="end">
                <a style="text-decoration: none;" target="_blank" href="https://www.facebook.com/prefeiturademaragojipe">
                    <ion-icon color=light button name="logo-facebook"></ion-icon>&nbsp;&nbsp;
                </a>
            </ion-buttons>
    
            <ion-buttons slot="end">
                <a style="text-decoration: none;" target="_blank"
                    href="https://www.instagram.com/prefeiturademaragojipe/?hl=pt-br">
                    <ion-icon color=light name="logo-instagram"></ion-icon> &nbsp;&nbsp;
                </a>
            </ion-buttons>
    
            <ion-buttons slot="end">
                <a style="text-decoration: none;" target="_blank" href="">
                    <ion-icon color=light name="logo-youtube"></ion-icon>&nbsp;&nbsp;
                </a>
            </ion-buttons>
            <ion-title>
            </ion-title>
        </ion-toolbar>
    
        <ion-toolbar class="top2">
            <ion-grid>
                <ion-row *ngIf="alternar ==true">
                    <ion-col size=3>
                        <a style="text-decoration: none;" href="/">
                            <img class="imagem" src="../../../assets/logo-prefeitura/logo2.png"
                                alt="Prefeitura de Maragojipe">
                        </a>
                    </ion-col>
                    <ion-col size=3>
                        <ion-searchbar type="text" [(ngModel)]="pesquisa" (keyup.enter)="pesquisarNoticias()"
                            class="inputAjuda" placeholder="O que deseja procurar ?"></ion-searchbar>
                    </ion-col>
                    <ion-col class="centralizarTexto" size=2>
                        <ion-item button (click)='ir("/o-municipio")' color=transparent lines=none>
                            <ion-label color=light>
                                O MUNICIPIO
                            </ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col class="centralizarTexto" size=2>
                        <ion-item button (click)='ir("/a-prefeitura")' color=transparent lines=none>
                            <ion-label color=light>
                                A PREFEITURA
                            </ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col class="centralizarTexto" size=2>
                        <ion-item (click)='ir("/telefones-uteis")' button color=transparent lines=none>
                            <ion-label color=light>
                                TELEFONES ÚTEIS
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
    
                <ion-row *ngIf="alternar ==false">
                    <ion-col (click)='ir("/")' size=3>
                        <img class="imagem2" src="../../../assets/logo-prefeitura/logo2.png" alt="Prefeitura de Maragojipe">
                    </ion-col>
                    <ion-col (click)='ir("/o-municipio")' size=3>
                        <ion-label style="font-size: x-small;" color=light class="tamanho">
                            O MUNICIPIO
                        </ion-label>
                    </ion-col>
                    <ion-col (click)='ir("/a-prefeitura")' size=3>
                        <ion-label style="font-size: x-small;" color=light class="tamanho">
                            A PREFEITURA
                        </ion-label>
                    </ion-col>
                    <ion-col (click)='ir("/telefones-uteis")' size=3>
                        <ion-label style="font-size: x-small;" color=light class="tamanho">
                            TELEFONES ÚTEIS
                        </ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-toolbar>
    </ion-header>

    <div id="background">
        <br><br>
        <ion-grid>
            <ion-row>
                <ion-col size=2>
                    <img class="igreja" width="90%" src="../../assets/icones prefeitura/O-Q-EU-BUSCO.png">
                </ion-col>
                <ion-col size=10>
                    <img src="../../assets/background/cabeçalho2.png">
                </ion-col>
            </ion-row>
        </ion-grid>


        <ion-grid *ngIf="alternar == true">
            <ion-row>
                <ion-col size=1> </ion-col>
                <ion-col size=2>
                    <div class="figura">
                        <a target="_blank" href="https://dom.imap.org.br/sitesMunicipios/imprensaOficial.cfm?varCodigo=497" style="text-decoration: none; color: black;">
                            <p><img src="../../assets/icones prefeitura/DIARIO.png" alt="Diario oficial" title="Diario oficial"></p>
                            <p>Diário Oficial</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=2>
                    <div class="figura">
                        <a color=dark target="_blank" href="https://sai.io.org.br/ba/maragojipe/site" style=" color: black;text-decoration: none;">
                            <p><img src="../../assets/icones prefeitura/TRANSPARENCIA.png" alt="Transparencia" title="transparencia">
                            </p>
                            <p>Transparência</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=2>
                    <div class="figura">
                        <a color=dark target="_blank" href="https://maragojipe.saatri.com.br/Imobiliario/EmitirIptu?Pbol_ComMenuEsquerdo=true" style="text-decoration: none; color: black;">
                            <p><img src="../../assets/icones prefeitura/IPTU.png" alt="IPTU" title="IPTU"></p>
                            <p>IPTU</p>
                        </a>
                    </div>
                </ion-col>

                <ion-col size=2>
                    <div class="figura">
                        <a color=dark target="_blank" href="https://www.tcm.ba.gov.br/portal-da-cidadania/pessoal/" style="text-decoration: none; color: black;">
                            <p><img src="../../assets/icones prefeitura/RECURSOS2.png" alt="Recursos Humanos" title="Recursos humanos"></p>
                            <p>Recursos Humanos</p>
                        </a>
                    </div>
                </ion-col>

                <ion-col size=2 routerLink="/meio-ambiente">
                    <div class="figura">
                        <a color=dark style=" color: black;text-decoration: none; cursor: pointer;">
                            <p><img src="../../assets/icones prefeitura/cema.png" style="height: auto; width: auto;" alt="CEMA" title="CEMA"></p>
                            <p>Coordenadoria Especial de Meio Ambiente</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=1> </ion-col>
            </ion-row>
            <br>
            <ion-row>
                <ion-col size=1> </ion-col>

                <ion-col size=2>
                    <div class="figura">
                        <a color=dark target="_blank" href="https://sai.io.org.br/ba/maragojipe/site/licitacoes" style=" color: black;text-decoration: none;">
                            <p><img src="../../assets/icones prefeitura/LICITAÇÃO.png" alt="Licitações" title="Licitações"></p>
                            <p>Licitações</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=2>
                    <div class="figura">
                        <a color=dark target="_blank" href="https://maragojipe.saatri.com.br/Certidao/Emitir?Pint_TipoCertidao=1&Pbol_ComMenuEsquerdo=true" style=" color: black;text-decoration: none;">
                            <p><img src="../../assets/icones prefeitura/certidao.png" alt="Certidão negativa" title="Certidão negativa"></p>
                            <p>Certidão Negativa</p>
                        </a>
                    </div>
                </ion-col>

                <ion-col size=2>
                    <div class="figura">
                        <a color=dark target="_blank" href="https://portal.tcu.gov.br/inicio/" style="text-decoration: none; color: black;">
                            <p><img src="../../assets/icones prefeitura/TCU.png" alt="TCU" title="TCU"></p>
                            <p>Tribunal de contas da união</p>
                        </a>
                    </div>
                </ion-col>

                <ion-col size=2>
                    <div class="figura">
                        <a color=dark target="_blank" href="http://www.tcm.ba.gov.br/" style=" color: black;text-decoration: none;">
                            <p><img src="../../assets/icones prefeitura/TCM.png" alt="TCM" title="TCM"></p>
                            <p>Tribunal de contas do municipio</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=2>
                    <div class="figura">
                        <a color=dark target="_blank" href="https://login.betha.cloud/servicelogin/login.faces?app=1c8315b6-1fb9-4a4c-b545-9f585d9fbd10&continue=dUt3pl7deSJcIfYbNgSBvyszrVx7CtLXMQ8SyjaTDIyAxIspOkXzLADGEjv59FmVkDvvSbpRV9h8ufTnTBpXO7RI651ay-4WmGKXeVTIjMkChFiJp09kXAw470h7bbL8oUHjYCAXMXlECtofVqS6JH_AsUaEICqRqBtvHR3H6EaV7xj-zMFKvctuq3OpBd0D2bm7ZGKL5FW87THOHVMFfCYNgtZ2oeINkVji2JMgRgpgEmplkHxPU7CCKQz54GOFyVHN6Py_dJPIiQgEJb2aMxxO4-4gBYMZSodmxwlxuDUijw_JmfDyFSV2hZjXVSq4yVpUjHY90IlU5PDTWqLLkZiCA7nt3vBiG9idkyjrDFS084mMoC_XNC7ftxRNM-FtRC8LFMRsNmQLkFWYvvdRq2--lccIxbZMoOHfS6KHsafZ1-yTX6wyrpAWa8rBF493HKae-xkaNo_PT_ecUeG1zJlNG-hIazU6krIrtQraJlvEVFUWaWUVmVSk-oWbJN-p2mgSt9oBYxfkse7NEuz-wF3kxSAQf9XobkVbxVCGcBkqabbFVgOuGc1_WhjcIwpZz4-eXQOfT1QFR9dhepHOc47n4fXUj4jQgFZg5DFW-fs=&mobile=false"
                            style=" color: black;text-decoration: none;">
                            <p><img src="../../assets/icones prefeitura/DINHEIRO.png" alt="Contra cheque" title="Contra cheque"></p>
                            <p>Contra Cheque</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col  *ngIf="1>2"  size=2>
                    <div class="figura">
                        <a  href="javascript:void(0)" style="text-decoration: none;color: black;" routerLink="/reparacao-racial-mulher">
                            <p><img src="../../assets/icones prefeitura/reparacao-social.png" alt="Reparação racial e da mulher" title="Reparação racial e da mulher"></p>
                            <p style="text-align: center;">Reparação racial e da mulher</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=1> </ion-col>
            </ion-row>
            <br>
            <ion-row>
                <ion-col size=1> </ion-col>

                <ion-col size=2>
                    <div class="figura">
                        <a color=dark target="_blank" href="https://www.cgu.gov.br/" style=" color: black;text-decoration: none;">
                            <p><img src="../../assets/icones prefeitura/CGU.png" alt="CGU" title="CGU"></p>
                            <p>Controladoria geral da união</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=2>
                    <a style="text-decoration: none; color: black;" href="javascript:void(0)" routerLink="/ouvidoria">
                        <div class="figura">
                            <p><img src="../../assets/icones prefeitura/FALE-AQUI.png" alt="Ouvidoria" title="Ouvidoria"></p>
                            <p>Solicite Aqui</p>
                        </div>
                    </a>
                </ion-col>

                <ion-col size=2>
                    <div class="figura">
                        <a target="_blank" href="https://sai.io.org.br/Handler.ashx?f=download_inativos&query=3728&c=497" style="text-decoration: none;color: black;">
                            <p><img src="../../assets/icones prefeitura/CALENDARIO.png" alt="Calendario escolar" title="Calendario escolar"></p>
                            <p>Calendário Escolar</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=2>
                    <div class="figura" routerLink="/defesa-civil">
                        <a href="javascript:void(0)" style="text-decoration: none;color: black;">
                            <p><img src="../../assets/icones prefeitura/defesa-civil.png" alt="Defesa Civil" title="Defesa Civil"></p>
                            <p>Defesa Civil</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=2>
                    <div class="figura">
                        <a href="javascript:void(0)" routerLink="/corrida-sao-bartolomeu" style="text-decoration: none;color: black;">
                            <p><img src="../../assets/icones prefeitura/corrida-sao-bartolomeu.png" alt="Corrida São Bartolomeu" title="Corrida São Bartolomeu"></p>
                            <p>Corrida de<br>São Bartolomeu</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=1> </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size=1></ion-col>

                <ion-col size=2>
                    <div class="figura">
                        <a href="javascript:void(0)" style="text-decoration: none;color: black;">
                            <p><img src="../../assets/icones prefeitura/TURISMO.png" alt="Pontos turisticos" title="Pontos turisticos"></p>
                            <p>Pontos Turísticos</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=2>
                    <div class="figura">
                        <a href="javascript:void(0)" style="text-decoration: none;color: black;" routerLink="/onde-ficar">
                            <p><img src="../../assets/icones prefeitura/ONDEFICAR.png" alt="Onde fica" title="Onde fica"></p>
                            <p>Onde Ficar</p>
                        </a>
                    </div>
                </ion-col>
                
                <ion-col size=2>
                    <div class="figura">
                        <a href="javascript:void(0)" style="text-decoration: none;color: black;" routerLink="/onde-comer">
                            <p><img src="../../assets/icones prefeitura/ONDECOMER.png" alt="Onde comer" title="Onde comer"></p>
                            <p>Onde Comer</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=1> </ion-col>
            </ion-row>
        </ion-grid>



        <!-- Remodelacao para celular -->
        <ion-grid *ngIf="alternar == false">
            <ion-row>
                <ion-col size=1> </ion-col>
                <ion-col size=2>
                    <div class="figura2">
                        <a target="_blank" href="https://dom.imap.org.br/sitesMunicipios/imprensaOficial.cfm?varCodigo=497" style="text-decoration: none; color: black;">
                            <p><img src="../../assets/icones prefeitura/DIARIO.png" alt="Diario oficial" title="Diario oficial"></p>
                            <p>Diário Oficial</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=2>
                    <div class="figura2">
                        <a color=dark target="_blank" href="https://sai.io.org.br/ba/maragojipe/site" style=" color: black;text-decoration: none;">
                            <p><img src="../../assets/icones prefeitura/TRANSPARENCIA.png" alt="Transparencia" title="transparencia">
                            </p>
                            <p>Transparência</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=2>
                    <div class="figura2">
                        <a color=dark target="_blank" href="https://maragojipe.saatri.com.br/Imobiliario/EmitirIptu?Pbol_ComMenuEsquerdo=true" style="text-decoration: none; color: black;">
                            <p><img src="../../assets/icones prefeitura/IPTU.png" alt="IPTU" title="IPTU"></p>
                            <p>IPTU</p>
                        </a>
                    </div>
                </ion-col>

                <ion-col size=2>
                    <div class="figura2">
                        <a color=dark target="_blank" href="https://www.tcm.ba.gov.br/portal-da-cidadania/pessoal/" style="text-decoration: none; color: black;">
                            <p><img src="../../assets/icones prefeitura/RECURSOS2.png" alt="Recursos Humanos" title="Recursos humanos"></p>
                            <p>Recursos Humanos</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=2 routerLink="/meio-ambiente">
                    <div class="figura2">
                        <a style="text-decoration: none;color: black;">
                            <p><img src="../../assets/icones prefeitura/cema.png" style="height: auto; width: auto;" alt="CEMA" title="CEMA"></p>
                            <p>Meio Ambiente</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=1> </ion-col>
            </ion-row>
            <br>
            <ion-row>
                <ion-col size=1> </ion-col>

                <ion-col size=2>
                    <div class="figura2">
                        <a color=dark target="_blank" href="https://maragojipe.saatri.com.br/Certidao/Emitir?Pint_TipoCertidao=1&Pbol_ComMenuEsquerdo=true" style=" color: black;text-decoration: none;">
                            <p><img src="../../assets/icones prefeitura/certidao.png" alt="Certidão negativa" title="Certidão negativa"></p>
                            <p>Certidão Negativa</p>
                        </a>
                    </div>
                </ion-col>

                <ion-col size=2>
                    <div class="figura2">
                        <a color=dark target="_blank" href="https://login.betha.cloud/servicelogin/login.faces?app=1c8315b6-1fb9-4a4c-b545-9f585d9fbd10&continue=dUt3pl7deSJcIfYbNgSBvyszrVx7CtLXMQ8SyjaTDIyAxIspOkXzLADGEjv59FmVkDvvSbpRV9h8ufTnTBpXO7RI651ay-4WmGKXeVTIjMkChFiJp09kXAw470h7bbL8oUHjYCAXMXlECtofVqS6JH_AsUaEICqRqBtvHR3H6EaV7xj-zMFKvctuq3OpBd0D2bm7ZGKL5FW87THOHVMFfCYNgtZ2oeINkVji2JMgRgpgEmplkHxPU7CCKQz54GOFyVHN6Py_dJPIiQgEJb2aMxxO4-4gBYMZSodmxwlxuDUijw_JmfDyFSV2hZjXVSq4yVpUjHY90IlU5PDTWqLLkZiCA7nt3vBiG9idkyjrDFS084mMoC_XNC7ftxRNM-FtRC8LFMRsNmQLkFWYvvdRq2--lccIxbZMoOHfS6KHsafZ1-yTX6wyrpAWa8rBF493HKae-xkaNo_PT_ecUeG1zJlNG-hIazU6krIrtQraJlvEVFUWaWUVmVSk-oWbJN-p2mgSt9oBYxfkse7NEuz-wF3kxSAQf9XobkVbxVCGcBkqabbFVgOuGc1_WhjcIwpZz4-eXQOfT1QFR9dhepHOc47n4fXUj4jQgFZg5DFW-fs=&mobile=false"
                            style=" color: black;text-decoration: none;">
                            <p><img src="../../assets/icones prefeitura/DINHEIRO.png" alt="Contra cheque" title="Contra cheque"></p>
                            <p>Contra Cheque</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=2>
                    <div class="figura2">
                        <a color=dark target="_blank" href="https://portal.tcu.gov.br/inicio/" style="text-decoration: none; color: black;">
                            <p><img src="../../assets/icones prefeitura/TCU.png" alt="TCU" title="TCU"></p>
                            <p>Tribunal de contas da união</p>
                        </a>
                    </div>
                </ion-col>

                <ion-col size=2>
                    <div class="figura2">
                        <a color=dark target="_blank" href="http://www.tcm.ba.gov.br/" style=" color: black;text-decoration: none;">
                            <p><img src="../../assets/icones prefeitura/TCM.png" alt="TCM" title="TCM"></p>
                            <p>Tribunal de contas do municipio</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col *ngIf="1>2" size=2>
                    <div class="figura2">
                        <a  href="javascript:void(0)" style="text-decoration: none;color: black;" routerLink="/reparacao-racial-mulher">
                            <p><img src="../../assets/icones prefeitura/reparacao-social.png" alt="Reparação racial e da mulher" title="Reparação racial e da mulher"></p>
                            <p style="text-align: center;">Reparação racial e da mulher</p>
                        </a>
                    </div>
                </ion-col>
                
                <ion-col size=2>
                    <div class="figura2">
                        <a href="javascript:void(0)"  routerLink="/corrida-sao-bartolomeu" style="text-decoration: none;color: black;">
                            <p><img src="../../assets/icones prefeitura/corrida-sao-bartolomeu.png" alt="Corrida São Bartolomeu" title="Corrida São Bartolomeu"></p>
                            <p>Corrida de<br>São Bartolomeu</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=1> </ion-col>
            </ion-row>
            <br>
            <ion-row>
                <ion-col size=1> </ion-col>
                <ion-col size=2>
                    <div class="figura2">
                        <a color=dark target="_blank" href="https://sai.io.org.br/ba/maragojipe/site/licitacoes" style=" color: black;text-decoration: none;">
                            <p><img src="../../assets/icones prefeitura/LICITAÇÃO.png" alt="Licitações" title="Licitações"></p>
                            <p>Licitações</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=2>
                    <div class="figura2">
                        <a href="https://sai.io.org.br/Handler.ashx?f=download_inativos&query=3728&c=497" target="_blank" style="text-decoration: none;color: black;">
                            <p><img src="../../assets/icones prefeitura/CALENDARIO.png" alt="Calendario escolar" title="Calendario escolar"></p>
                            <p>Calendário Escolar</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col routerLink="/ouvidoria" size=2>
                    <div class="figura2">
                        <p><img src="../../assets/icones prefeitura/FALE-AQUI.png" alt="Ouvidoria" title="Ouvidoria"></p>
                        <p>Solicite Aqui</p>
                    </div>
                </ion-col>
                <ion-col size=2>
                    <div class="figura2" routerLink="/defesa-civil">
                        <p><img src="../../assets/icones prefeitura/defesa-civil.png" alt="Desconhecido" title="Desconhecido"></p>
                        <p>Defesa Civil</p>
                    </div>
                </ion-col>
                <ion-col size=2>
                    <div class="figura2">
                        <a color=dark target="_blank" href="https://www.cgu.gov.br/" style=" color: black;text-decoration: none;">
                            <p><img src="../../assets/icones prefeitura/CGU.png" alt="CGU" title="CGU"></p>
                            <p>Controladoria geral da união</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=1></ion-col>
            </ion-row>


            <ion-row>
                <ion-col size=1></ion-col>
                <ion-col size=2>
                    <div class="figura2">
                        <a href="javascript:void(0)" style="text-decoration: none;color: black;">
                            <p><img src="../../assets/icones prefeitura/TURISMO.png" alt="Desconhecido" title="Desconhecido"></p>
                            <p>Pontos Turísticos</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=2>
                    <div class="figura2">
                        <a href="javascript:void(0)" style="text-decoration: none;color: black;" routerLink="/onde-ficar">
                            <p><img src="../../assets/icones prefeitura/ONDEFICAR.png" alt="Onde fica" title="Onde fica"></p>
                            <p>Onde Ficar</p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=2>
                    <div class="figura2">
                        <a href="javascript:void(0)" style="text-decoration: none;color: black;" routerLink="/onde-comer">
                            <p><img src="../../assets/icones prefeitura/ONDECOMER.png" alt="Onde comer" title="Onde comer"></p>
                            <p>Onde Comer</p>
                        </a>
                    </div>
                </ion-col>

                <ion-col size=1></ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div class="banner">
        <br>
        <ion-slides class="slides" pager="false" [options]="slideOptsOne">
            <ion-slide>
                <img class="banner2" src="../../assets/banner/banner.png">
            </ion-slide>
            <!--
            <ion-slide>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLScTikrFdk_NZ5t6_mIhC6h1n37zCvGJ7IC47s0EKwjWDnbwkg/viewform?vc=0&c=0&w=1&flr=0" target="_blank">
                    <img height="50%" class="banner2" src="../../assets/banner/banner2.jpeg">
                </a>
            </ion-slide>-->
        </ion-slides>
        <br>
    </div>

    <div id="fundoCInza">
        <br>
        <ion-grid>
            <ion-row>
                <ion-col size=3>
                    <img width="100%" src="../../assets/icones prefeitura/destaques.png">
                </ion-col>
                <ion-col size=9></ion-col>
            </ion-row>
            <br>
            <ion-row style="margin-left: 3%; margin-right: 3%;" *ngIf="alternar == true">
                <ion-col size=3>
                    <p style="text-align: center;">
                        Viu essa imagem em algum lugar e não entendeu!? Então, participe da audiência pública de prestação de contas do Primeiro Quadrimestre de 2022, que vai acontecer na Câmara Municipal de Vereadores na próxima terça-feira (31), e descubra!
                    </p>
                </ion-col>
                <ion-col size=3>
                    <p style="text-align: center;">
                        SÃO JOÃO MARAGOJIPE
                    </p>
                </ion-col>
                <ion-col size=3>
                    <p style="text-align: center;">
                        PAINEL DE INFORMAÇÕES
                    </p>
                </ion-col>
                <ion-col size=3>
                    <p style="text-align: center;">
                        CAMPANHAS
                    </p>
                </ion-col>
            </ion-row>

            <ion-row style="margin-left: 3%; margin-right: 3%;">
                <ion-col size=3>
                    <img [src]="boletim" id="myImg1" alt="Boletim" title="Boletim">
                </ion-col>
                <ion-col size=3>
                    <img [src]="vacinometro" id="myImg2" alt="Forró do cais" title="Forró do cais">
                </ion-col>
                <ion-col size=3>
                    <img [src]="corona" alt="Painel de informações" id="myImg3" title="Painel de informações">
                </ion-col>
                <ion-col size=3>
                    <img [src]="campanhas" alt="Campanhas" id="myImg4" title="Campanhas">
                    <!--
            <ion-slides class="slides" pager="true" [options]="slideOptsOne">
              <ion-slide >
                <img width="90%" src="../../assets/outros/campanhas/001.jpeg" title="Campanhas"> 
              </ion-slide>
              <ion-slide >
                <img width="90%" src="../../assets/outros/campanhas/002.jpeg" title="Campanhas"> 
              </ion-slide>
              <ion-slide >
                <img width="90%" src="../../assets/outros/campanhas/003.jpeg" title="Campanhas"> 
              </ion-slide>
            </ion-slides>
          -->
                </ion-col>
            </ion-row>
            <ion-row style="margin-left: 3%; margin-right: 3%;" *ngIf="alternar == false">
                <ion-col size=3>
                    <p style="font-size: xx-small; text-align: justify;">
                        Viu essa imagem em algum lugar e não entendeu!? Então, participe da audiência pública de prestação de contas do Primeiro Quadrimestre de 2022, que vai acontecer na Câmara Municipal de Vereadores na próxima terça-feira (31), e descubra!
                    </p>
                </ion-col>
                <ion-col size=3>
                    <p style="font-size: xx-small; text-align: justify;">
                        SÃO JOÃO MARAGOJIPE
                    </p>
                </ion-col>
                <ion-col size=3>
                    <p style="font-size: xx-small; text-align: justify;">
                        PAINEL DE INFORMAÇÕES
                    </p>
                </ion-col>
                <ion-col size=3>
                    <p style="font-size: xx-small; text-align: justify;">
                        CAMPANHAS
                    </p>
                </ion-col>
            </ion-row>

        </ion-grid>
    </div>
    <div class="fundoBaixo">
        <ion-grid *ngIf="titulo1.length>0 && alternar == false">
            <ion-row>
                <ion-col size=3>
                    <img src="../../assets/icones prefeitura/NOTICIAS.png" width="65%" alt="Noticias" title="Noticias">
                </ion-col>
                <ion-col size=9></ion-col>
            </ion-row>
            <ion-row>
                <ion-col size=1></ion-col>
                <ion-col size=5>
                    <div class="figura4">
                        <a style="text-decoration: none; color: black;" href=" javascript:void(0)" (click)="visualizar(titulo1)">
                            <p><img [src]="thumb1" [alt]="introducao1" [title]="introducao1"></p>
                            <h6>{{titulo1}}</h6>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=5>
                    <div class="figura4">
                        <a style="text-decoration: none; color: black;" href=" javascript:void(0)" (click)="visualizar(titulo2)">
                            <p><img [src]="thumb2" [alt]="introducao2" [title]="introducao2"></p>
                            <h6>{{titulo2}}</h6>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=1></ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid *ngIf="titulo1.length>0 && alternar == true">
            <ion-row>
                <ion-col size=3>
                    <img src="../../assets/icones prefeitura/NOTICIAS.png" width="65%" alt="Noticias" title="Noticias">
                </ion-col>
                <ion-col size=9></ion-col>
            </ion-row>
            <ion-row>
                <ion-col size=1></ion-col>
                <ion-col size=5>
                    <div class="figura3">
                        <a style="text-decoration: none; color: black;" href=" javascript:void(0)" (click)="visualizar(titulo1)">
                            <p><img [src]="thumb1" [alt]="introducao1" [title]="introducao1"></p>
                            <p style="text-align: center;"><b>{{titulo1}}</b></p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=5>
                    <div class="figura3">
                        <a style="text-decoration: none; color: black;" href=" javascript:void(0)" (click)="visualizar(titulo2)">
                            <p><img [src]="thumb2" [alt]="introducao2" [title]="introducao2"></p>
                            <p style="text-align: center;"><b>{{titulo2}}</b></p>
                        </a>
                    </div>
                </ion-col>
                <ion-col size=1></ion-col>
            </ion-row>
        </ion-grid>
        <br>
        <ion-grid *ngIf="alternar == true">
            <ion-row>
                <ion-col size=1></ion-col>
                <ion-col class="textoPequeno1" size=5>
                    <ion-item color="transparent" lines=none>
                        <img class="imagemPequena" [src]="thumb3"> &nbsp;
                        <a style="text-decoration: none; color: black;" href=" javascript:void(0)" (click)="visualizar(titulo3)">
                            <p>{{titulo3}}</p>
                        </a>
                    </ion-item>
                </ion-col>
                &nbsp;
                <ion-col class="textoPequeno2" size=5>
                    <ion-item color="transparent" lines=none>
                        <img class="imagemPequena" [src]="thumb4"> &nbsp;
                        <a style="text-decoration: none; color: black;" href=" javascript:void(0)" (click)="visualizar(titulo4)">
                            <p>{{titulo4}}</p>
                        </a>
                    </ion-item>
                </ion-col>
                <ion-col size=1></ion-col>
            </ion-row>

            <ion-row>
                <ion-col size=1></ion-col>
                <ion-col class="textoPequeno1" size=5>
                    <ion-item color="transparent" lines=none>
                        <img class="imagemPequena" [src]="thumb5"> &nbsp;
                        <a style="text-decoration: none; color: black;" href=" javascript:void(0)" (click)="visualizar(titulo5)">
                            <p>{{titulo5}}</p>
                        </a>
                    </ion-item>
                </ion-col>
                &nbsp;
                <ion-col class="textoPequeno2" size=5>
                    <ion-item color="transparent" lines=none>
                        <img class="imagemPequena" [src]="thumb6"> &nbsp;
                        <a style="text-decoration: none; color: black;" href=" javascript:void(0)" (click)="visualizar(titulo6)">
                            <p>{{titulo6}}</p>
                        </a>
                    </ion-item>
                </ion-col>
                <ion-col size=1></ion-col>
            </ion-row>

        </ion-grid>

        <ion-grid *ngIf="alternar == false">
            <ion-row>
                <ion-col (click)="visualizar(titulo3)" class="textoPequeno3" size=6>
                    <ion-item color="transparent" lines=none>
                        <img class="imagemPequena" [src]="thumb3">
                    </ion-item>
                    <a style="text-decoration: none; color: black;margin-left: 5%;text-align: center;" href=" javascript:void(0)" >
                        <p style="font-size: x-small;"> {{titulo3}}</p>
                    </a>
                </ion-col>
                <ion-col (click)="visualizar(titulo4)" class="textoPequeno4" size=6>
                    <ion-item color="transparent" lines=none>
                        <img class="imagemPequena" [src]="thumb4">
                    </ion-item>
                    <a style="text-decoration: none; color: black;margin-left: 5%; text-align: center;" href=" javascript:void(0)" >
                        <p style="font-size: x-small;"> {{titulo4}}</p>
                    </a>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col (click)="visualizar(titulo5)" class="textoPequeno3" size=6>
                    <ion-item color="transparent" lines=none>
                        <img class="imagemPequena" [src]="thumb5">
                    </ion-item>
                    <a style="text-decoration: none; color: black;margin-left: 5%;text-align: center;" href=" javascript:void(0)">
                        <p style="font-size: x-small;"> {{titulo5}}</p>
                    </a>
                </ion-col>
                <ion-col  (click)="visualizar(titulo6)" class="textoPequeno4" size=6>
                    <ion-item color="transparent" lines=none>
                        <img class="imagemPequena" [src]="thumb6">
                    </ion-item>
                    <a style="text-decoration: none; color: black;margin-left: 5%;text-align: center;" href=" javascript:void(0)">
                        <p style="font-size: x-small;"> {{titulo6}}</p>
                    </a>
                </ion-col>
            </ion-row>
        </ion-grid>




        <ion-grid *ngIf="titulo1.length>0 && alternar == true">
            <ion-row>
                <ion-col size=1></ion-col>
                <ion-col size=2>
                    <ion-button color=primary (click)="maisNoticias()" style="margin-left: 5%;" expand="block"> Mais notícias
                    </ion-button>
                </ion-col>
                <ion-col size=9></ion-col>
            </ion-row>
        </ion-grid>
        <ion-button color=primary *ngIf="titulo1.length>0 && alternar == false" (click)="maisNoticias()" style="margin-left: 5%; margin-right: 5%;" expand="block"> Mais notícias</ion-button>
    </div>

 

    <div class="footer">
        <ion-grid>
        <ion-row style="margin: auto; margin-top: 2%; margin-bottom: 2%;" *ngIf="alternar ==true">
            <ion-col size="1"></ion-col>
            <ion-col size="2"  style="margin-left: 5%;">
                <ion-icon style="text-align: left; color: #ffffff;font-size: medium;" name="bookmark-outline"></ion-icon>
                <ion-label style="text-align: center; text-decoration: none; color: #ffffff; font-weight: bold;font-size: medium;">
                    MARAGOJIPE
                </ion-label>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: medium;" name="arrow-redo-outline"></ion-icon>
                <a  (click)='ir("/a-prefeitura")' style="text-align: center; text-decoration: none; color: #ffffff; font-size: medium;" href="javascript:void(0)">
                    A prefeitura
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: medium;" name="arrow-redo-outline"></ion-icon>
                <a  (click)='ir("/defesa-civil")' style="text-align: center; text-decoration: none; color: #ffffff; font-size: medium;" href="javascript:void(0)">
                    Defesa Civil
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: medium;" name="arrow-redo-outline"></ion-icon>
                <a  (click)='ir("/ouvidoria")' style="text-align: center; text-decoration: none; color: #ffffff; font-size: medium;" href="javascript:void(0)">
                    Fale conosco
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: medium;" name="arrow-redo-outline"></ion-icon>
                <a  (click)='ir("/meio-ambiente")' style="text-align: center; text-decoration: none; color: #ffffff; font-size: medium;" href="javascript:void(0)">
                    Meio ambiente
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: medium;" name="arrow-redo-outline"></ion-icon>
                <a  (click)='ir("/o-municipio")' style="text-align: center; text-decoration: none; color: #ffffff; font-size: medium;" href="javascript:void(0)">
                    O município
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: medium;" name="arrow-redo-outline"></ion-icon>
                <a  (click)='ir("/onde-comer")' style="text-align: center; text-decoration: none; color: #ffffff; font-size: medium;" href="javascript:void(0)">
                    Onde comer
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: medium;" name="arrow-redo-outline"></ion-icon>
                <a  (click)='ir("/onde-ficar")' style="text-align: center; text-decoration: none; color: #ffffff; font-size: medium;" href="javascript:void(0)">
                    Onde ficar
                </a>
            </ion-col>
            
            <ion-col size="1"></ion-col>
            <ion-col size="2" style="margin-left: 5%;">
                <ion-icon style="text-align: left; color: #ffffff;font-size: medium;" name="bookmark-outline"></ion-icon>
                <ion-label style="text-align: center; text-decoration: none; color: #ffffff; font-weight: bold;font-size: medium;">
                    MARAGOJIPE EM JURÍDICO
                </ion-label>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: medium;" name="arrow-redo-outline"></ion-icon>
                <a target="_blank" style="text-align: center; text-decoration: none; color: #ffffff; font-size: medium;" href="https://maragojipe.saatri.com.br/Certidao/Emitir?Pint_TipoCertidao=1&Pbol_ComMenuEsquerdo=true">
                    Certidão de debito
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: medium;" name="arrow-redo-outline"></ion-icon>
                <a target="_blank" href="https://dom.imap.org.br/sitesMunicipios/imprensaOficial.cfm?varCodigo=497" style="text-align: center; text-decoration: none; color: #ffffff; font-size: medium;">
                    Diário Oficial
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: medium;" name="arrow-redo-outline"></ion-icon>
                <a target="_blank" style="text-align: center; text-decoration: none; color: #ffffff; font-size: medium;" href="https://maragojipe.saatri.com.br/Imobiliario/EmitirIptu?Pbol_ComMenuEsquerdo=true">
                    IPTU
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: medium;" name="arrow-redo-outline"></ion-icon>
                <a target="_blank" style="text-align: center; text-decoration: none; color: #ffffff; font-size: medium;" href="https://sai.io.org.br/ba/maragojipe/site/licitacoes">
                    Licitações
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: medium;" name="arrow-redo-outline"></ion-icon>
                <a target="_blank" style="text-align: center; text-decoration: none; color: #ffffff; font-size: medium;" href="https://sai.io.org.br/ba/maragojipe/site">
                    Transparencia
                </a>
            </ion-col>

            
            <ion-col size="1"></ion-col>
            <ion-col size="2" style="margin-left: 5%;">
                <ion-icon style="text-align: left; color: #ffffff;font-size: medium;" name="bookmark-outline"></ion-icon>
                <ion-label style="text-align: center; text-decoration: none; color: #ffffff; font-weight: bold;font-size: medium;">
                    OUTRAS OPÇÕES
                </ion-label>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: medium;" name="arrow-redo-outline"></ion-icon>
                <a target="_blank" style="text-align: center; text-decoration: none; color: #ffffff; font-size: medium;" href="https://login.betha.cloud/servicelogin/login.faces?app=1c8315b6-1fb9-4a4c-b545-9f585d9fbd10&continue=dUt3pl7deSJcIfYbNgSBvyszrVx7CtLXMQ8SyjaTDIyAxIspOkXzLADGEjv59FmVkDvvSbpRV9h8ufTnTBpXO7RI651ay-4WmGKXeVTIjMkChFiJp09kXAw470h7bbL8oUHjYCAXMXlECtofVqS6JH_AsUaEICqRqBtvHR3H6EaV7xj-zMFKvctuq3OpBd0D2bm7ZGKL5FW87THOHVMFfKa78RGLE1rHG4-C9orarg3P6FWJxPv3ECi_-6l9Bk1p6H2lZLFDkaYqMaknTip-yIqNvEXBB5m_rT9djaI6-xVfpbEl6XvGlmmv0Ys5W3G800KXcdR3de07j3Zd4EffI5RW-_2EfDE5dS7z1UqPjzCG1GR7_U0Qh-_a_IKV5zzIe3RelIaxIAMqGnBWm1QcSGMqD_qvzLN4c0OqZvSoi2TkmEkXaMw5g2AK3hroF5r1lx0Z-q5JR9_pZ5QKRCeLErzjRO7V5iy57tVTQsEmgO7jmOvo4M1PJ03hFP4cj3shMhnfeZnzKu015H9xdnO5nyTcSfXRLopmPA7ptqfCFGR8gTPXEhX094eroQsIQ83c5b6FCwea7mCmJ_lNpVUU7YDPB-IWeCDx&mobile=false">
                    Contra Cheque
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: medium;" name="arrow-redo-outline"></ion-icon>
                <a target="_blank" style="text-align: center; text-decoration: none; color: #ffffff; font-size: medium;" href="https://www.gov.br/cgu/pt-br">
                    Controladoria geral da união
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: medium;" name="arrow-redo-outline"></ion-icon>
                <a target="_blank" style="text-align: center; text-decoration: none; color: #ffffff; font-size: medium;" href="https://www.tcm.ba.gov.br/portal-da-cidadania/pessoal/">
                    Recursos Humanos
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: medium;" name="arrow-redo-outline"></ion-icon>
                <a target="_blank" style="text-align: center; text-decoration: none; color: #ffffff; font-size: medium;" href="https://portal.tcu.gov.br/inicio/">
                    Tribunal de Contas da União
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: medium;" name="arrow-redo-outline"></ion-icon>
                <a target="_blank" style="text-align: center; text-decoration: none; color: #ffffff; font-size: medium;" href="https://www.tcm.ba.gov.br/">
                    Tribunal de Contas do Município
                </a>
            </ion-col>
        </ion-row>

        
        <ion-row style="margin: auto; margin-top: 2%; margin-bottom: 2%;" *ngIf="alternar ==false">
            <ion-col size="3" style="margin-left: 5%;">
                <ion-icon style="text-align: left; color: #ffffff;font-size: xx-small;" name="bookmark-outline"></ion-icon>
                <ion-label style="text-align: center; text-decoration: none; color: #ffffff; font-weight: bold;font-size: xx-small;">
                    MARAGOJIPE
                </ion-label>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: xx-small;" name="arrow-redo-outline"></ion-icon>
                <a  (click)='ir("/a-prefeitura")' style="text-align: center; text-decoration: none; color: #ffffff; font-size: xx-small;" href="javascript:void(0)">
                    A prefeitura
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: xx-small;" name="arrow-redo-outline"></ion-icon>
                <a  (click)='ir("/defesa-civil")' style="text-align: center; text-decoration: none; color: #ffffff; font-size: xx-small;" href="javascript:void(0)">
                    Defesa Civil
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: xx-small;" name="arrow-redo-outline"></ion-icon>
                <a  (click)='ir("/ouvidoria")' style="text-align: center; text-decoration: none; color: #ffffff; font-size: xx-small;" href="javascript:void(0)">
                    Fale conosco
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: xx-small;" name="arrow-redo-outline"></ion-icon>
                <a  (click)='ir("/meio-ambiente")' style="text-align: center; text-decoration: none; color: #ffffff; font-size: xx-small;" href="javascript:void(0)">
                    Meio ambiente
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: xx-small;" name="arrow-redo-outline"></ion-icon>
                <a  (click)='ir("/o-municipio")' style="text-align: center; text-decoration: none; color: #ffffff; font-size: xx-small;" href="javascript:void(0)">
                    O município
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: xx-small;" name="arrow-redo-outline"></ion-icon>
                <a  (click)='ir("/onde-comer")' style="text-align: center; text-decoration: none; color: #ffffff; font-size: xx-small;" href="javascript:void(0)">
                    Onde comer
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: xx-small;" name="arrow-redo-outline"></ion-icon>
                <a  (click)='ir("/onde-ficar")' style="text-align: center; text-decoration: none; color: #ffffff; font-size: xx-small;" href="javascript:void(0)">
                    Onde ficar
                </a>
            </ion-col>
            
            <ion-col size="3" style="margin-left: 5%;">
                <ion-icon style="text-align: left; color: #ffffff;font-size: xx-small;" name="bookmark-outline"></ion-icon>
                <ion-label style="text-align: center; text-decoration: none; color: #ffffff; font-weight: bold;font-size: xx-small;">
                    MARAGOJIPE EM JURÍDICO
                </ion-label>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: xx-small;" name="arrow-redo-outline"></ion-icon>
                <a target="_blank" style="text-align: center; text-decoration: none; color: #ffffff; font-size: xx-small;" href="https://maragojipe.saatri.com.br/Certidao/Emitir?Pint_TipoCertidao=1&Pbol_ComMenuEsquerdo=true">
                    Certidão de debito
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: xx-small;" name="arrow-redo-outline"></ion-icon>
                <a target="_blank" href="https://dom.imap.org.br/sitesMunicipios/imprensaOficial.cfm?varCodigo=497" style="text-align: center; text-decoration: none; color: #ffffff; font-size: xx-small;">
                    Diário Oficial
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: xx-small;" name="arrow-redo-outline"></ion-icon>
                <a target="_blank" style="text-align: center; text-decoration: none; color: #ffffff; font-size: xx-small;" href="https://maragojipe.saatri.com.br/Imobiliario/EmitirIptu?Pbol_ComMenuEsquerdo=true">
                    IPTU
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: xx-small;" name="arrow-redo-outline"></ion-icon>
                <a target="_blank" style="text-align: center; text-decoration: none; color: #ffffff; font-size: xx-small;" href="https://sai.io.org.br/ba/maragojipe/site/licitacoes">
                    Licitações
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: xx-small;" name="arrow-redo-outline"></ion-icon>
                <a target="_blank" style="text-align: center; text-decoration: none; color: #ffffff; font-size: xx-small;" href="https://sai.io.org.br/ba/maragojipe/site">
                    Transparencia
                </a>
            </ion-col>

            

            <ion-col size="3" style="margin-left: 5%;">
                <ion-icon style="text-align: left; color: #ffffff;font-size: xx-small;" name="bookmark-outline"></ion-icon>
                <ion-label style="text-align: center; text-decoration: none; color: #ffffff; font-weight: bold;font-size: xx-small;">
                    OUTRAS OPÇÕES
                </ion-label>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: xx-small;" name="arrow-redo-outline"></ion-icon>
                <a target="_blank" style="text-align: center; text-decoration: none; color: #ffffff; font-size: xx-small;" href="https://login.betha.cloud/servicelogin/login.faces?app=1c8315b6-1fb9-4a4c-b545-9f585d9fbd10&continue=dUt3pl7deSJcIfYbNgSBvyszrVx7CtLXMQ8SyjaTDIyAxIspOkXzLADGEjv59FmVkDvvSbpRV9h8ufTnTBpXO7RI651ay-4WmGKXeVTIjMkChFiJp09kXAw470h7bbL8oUHjYCAXMXlECtofVqS6JH_AsUaEICqRqBtvHR3H6EaV7xj-zMFKvctuq3OpBd0D2bm7ZGKL5FW87THOHVMFfKa78RGLE1rHG4-C9orarg3P6FWJxPv3ECi_-6l9Bk1p6H2lZLFDkaYqMaknTip-yIqNvEXBB5m_rT9djaI6-xVfpbEl6XvGlmmv0Ys5W3G800KXcdR3de07j3Zd4EffI5RW-_2EfDE5dS7z1UqPjzCG1GR7_U0Qh-_a_IKV5zzIe3RelIaxIAMqGnBWm1QcSGMqD_qvzLN4c0OqZvSoi2TkmEkXaMw5g2AK3hroF5r1lx0Z-q5JR9_pZ5QKRCeLErzjRO7V5iy57tVTQsEmgO7jmOvo4M1PJ03hFP4cj3shMhnfeZnzKu015H9xdnO5nyTcSfXRLopmPA7ptqfCFGR8gTPXEhX094eroQsIQ83c5b6FCwea7mCmJ_lNpVUU7YDPB-IWeCDx&mobile=false">
                    Contra Cheque
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: xx-small;" name="arrow-redo-outline"></ion-icon>
                <a target="_blank" style="text-align: center; text-decoration: none; color: #ffffff; font-size: xx-small;" href="https://www.gov.br/cgu/pt-br">
                    Controladoria geral da união
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: xx-small;" name="arrow-redo-outline"></ion-icon>
                <a target="_blank" style="text-align: center; text-decoration: none; color: #ffffff; font-size: xx-small;" href="https://www.tcm.ba.gov.br/portal-da-cidadania/pessoal/">
                    Recursos Humanos
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: xx-small;" name="arrow-redo-outline"></ion-icon>
                <a target="_blank" style="text-align: center; text-decoration: none; color: #ffffff; font-size: xx-small;" href="https://portal.tcu.gov.br/inicio/">
                    Tribunal de Contas da União
                </a>
                <br> <br>
                <ion-icon style="text-align: left; color: #ffffff;font-size: xx-small;" name="arrow-redo-outline"></ion-icon>
                <a target="_blank" style="text-align: center; text-decoration: none; color: #ffffff; font-size: xx-small;" href="https://www.tcm.ba.gov.br/">
                    Tribunal de Contas do Município
                </a>
            </ion-col>
        </ion-row>
    </ion-grid>
    </div>
    <div class="footer2">
        <ion-grid style="margin-left: 5%;margin-right: 5%;">
            <ion-row *ngIf="alternar==false">
                <ion-col size=6 style="text-align: center; font-size: x-small; color: #ffffff;">
                    &copy; 2022 Prefeitura de Maragojipe. Todos direitos reservados.
                </ion-col>
                <ion-col size=3 style="text-align: center; font-size: x-small; color: #ffffff;">
                    Termos de uso
                </ion-col>
                <ion-col size=3 style="text-align: center; font-size: x-small; color: #ffffff;">
                    Política de privacidade
                </ion-col>
            </ion-row>
            <ion-row *ngIf="alternar==true">
                <ion-col size=6 style="text-align: center; color: #ffffff;">
                    &copy; 2022 Prefeitura de Maragojipe. Todos direitos reservados.
                </ion-col>
                <ion-col size=3 style="text-align: center; color: #ffffff;cursor: pointer;">
                    Termos de uso
                </ion-col>
                <ion-col size=3 style="text-align: center; color: #ffffff;cursor: pointer;">
                    Política de privacidade
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <br>
    <ion-grid>
        <ion-row>
            <ion-col size=3>
                <img src="../../../assets/icones prefeitura/FALE-CONOSCO.png" width="60%" alt="Fale conosco" title="Fale conosco">
            </ion-col>
            <ion-col size=9></ion-col>
        </ion-row>
        <ion-row *ngIf="alternar == true">
            <ion-col size=2></ion-col>
            <ion-col size=3>
                <a style="text-decoration: none; color: black;" target="_blank" href="https://www.instagram.com/prefeiturademaragojipe/?hl=pt-br">
                    <p><img class="rodape2" src="../../../assets/icones prefeitura/INSTAGRAM.png" alt=""></p>
                </a>
            </ion-col>
            <ion-col size=2></ion-col>
            <ion-col size=3>
                <a style="text-decoration: none; color: black;" target="_blank" href="https://www.facebook.com/prefeiturademaragojipe">
                    <p><img class="rodape2" src="../../../assets/icones prefeitura/FACEBOOK.png" alt=""></p>
                </a>
            </ion-col>
            <ion-col size=2></ion-col>
        </ion-row>

        <ion-row *ngIf="alternar == false">
            <ion-col size=1></ion-col>
            <ion-col size=4>
                <a style="text-decoration: none; color: black;" target="_blank" href="https://www.instagram.com/prefeiturademaragojipe/?hl=pt-br">
                    <p><img class="rodape" src="../../../assets/icones prefeitura/INSTAGRAM.png" alt=""></p>
                </a>
            </ion-col>
            <ion-col size=2></ion-col>
            <ion-col size=4>
                <a style="text-decoration: none; color: black;" target="_blank" href="https://www.facebook.com/prefeiturademaragojipe">
                    <p><img class="rodape" src="../../../assets/icones prefeitura/FACEBOOK.png" alt=""></p>
                </a>
            </ion-col>
            <ion-col size=1></ion-col>
        </ion-row>
    </ion-grid>



    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
    </div>
</ion-content>